/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */

body {
	background-color: #eeeeee;
}

h1 {
	color: #111111;
}

h2 {
}

p {

}

img {

}


/* Container or module styles probably come next. */



header {
    height:100px;
    margin-top:12px;
    color:#000000;
}

nav {
    float: right;
}

nav a {
    color: #000000;
    margin-right: 10px;
    text-decoration: none;
}

header a:link {
    color:#000000
    text-decoration: none;
}
header a: visited {
    color: #000000;
    text-decoration: none;
}
header a:hover {
    color: #c0c0c0;
    text-decoration:none;
}
header a:active {
    text-decoration:none;
}
header a:focus {
}

section {

}

aside {

}

article a:hover {
    color:#c0c0c0

}

footer {
    clear:right;
    font-size: 12px;
    padding: 0 10px 0 10px;  
}

/* Class and ID styles come last because they are the most specific. */

#copyright {

}

.button {
    display:inline-block;
    width:160px;
    height:150px;
    border-radius:150px;
    font-size:22px;
    color:#fff;
    line-height:150px;
    text-align:center;
    background:#000
}

